#main-headline {




text-align: center;


color: blue;


}


h2 {


text-align: center;


}


.place-description {


color: olive;


font-family: Verdana;


}


.person-description {


color: purple;


}



.top-favorite {


font-style: italic;


font-weight: bold;


color: red;


}







.important-point {


text-decoration: underline;



}




.emphasis {


font-style: italic;


}
